<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chain Export</title>
  <meta name="description" content="An application to export txs from configured chains.">
  <meta name="author" content="Florin Balate">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/ico" href="/images/favicon.ico">
</head>
<body>
  <div class="container">
    <p><!-- placeholder --></p>

    <div class="row">
      <h2>Chain Export</h2>
      <form action="/address" method="post">
        <div class="ten columns">
          <input type="text" placeholder="enter an address..."
            name="address" id="address" value="" autofocus
            class="u-full-width {% if flash %}field-{{flash.0}}{% endif %}" />
          {% if flash %}
            <small class="field-{{flash.0}}-msg">
               {{ flash.1 }}
            </small>
          {% endif %}
        </div>
        <div class="two columns">
          <input type="submit" value="search">
        </div>
      </form>
    </div>

    {% if txs %}
    <div class="row">
      <form action="/export" method="post">
        <input type="hidden" name="address" value="{{address}}"/>
        <div class="twelve columns">
          <input type="submit" value="export to csv">
        </div>
      </form>
      <h4>{{ address }}</h4>
      <h4>Total: {{ amount}}</h4>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <table>
          <tr>
            <th>time</th>
            <th>amount</th>
            <th>sender</th>
            <th>recipient</th>
            <th>height</th>
            <th>hash</th>
          </tr>
        {% for tx in txs %}
          {% for tf in tx.transfers %}
          <tr>
            <td>{{ tx.time }}</td>
            <td>{{ tf.amount }}</td>
            <td>{{ tf.sender }}</td>
            <td>{{ tf.recipient }}</td>
            <td>{{ tx.height }}</td>
            <td>{{ tx.hash }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

  </div>
</body>
</html>
